@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .with-icons {
    @apply flex items-center space-x-1;
  }

  .link {
    @apply cursor-pointer;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
